<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArcGIS.PCL" version="4.1.1" targetFramework="net45" />
  <package id="ArcGIS.PCL.JsonDotNetSerializer" version="1.0.0" targetFramework="net45" />
  <package id="ArcGIS.PCL.JsonDotNetSerializer.Signed" version="1.0.0" targetFramework="net45" />
  <package id="ArcGIS.PCL.ServiceStackV3Serializer" version="1.0.0" targetFramework="net45" />
  <package id="ArcGIS.PCL.Signed" version="3.2.1" targetFramework="net45" />
  <package id="ArcGISExtensions" version="1.3.0" targetFramework="net45" />
  <package id="ArcGISServerAdminSDK" version="1.2.2.0" targetFramework="net45" />
  <package id="Dapper" version="1.35" targetFramework="net45" />
  <package id="Dapper.FluentMap" version="1.3.2" targetFramework="net45" />
  <package id="Dapper.SimpleCRUD" version="1.4.1" targetFramework="net45" />
  <package id="Dapper.SimpleCRUD.ModelGenerator" version="1.0.2" targetFramework="net45" />
  <package id="Dapper-Async" version="1.03" targetFramework="net45" />
  <package id="FastMember" version="1.0.0.11" targetFramework="net45" />
  <package id="Geocoder.Esri" version="0.0.1" targetFramework="net45" />
  <package id="Geocoding.net" version="2.1.1" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="ObjectToSqlMapper" version="1.0.11" targetFramework="net45" />
  <package id="RestSharp" version="104.1" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
  <package id="WebApiRestService.WebApiClient" version="1.1" targetFramework="net45" />
</packages>